# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3
*.sqlite3-journal
.env
staticfiles/

# Flutter / Dart
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/ios/Pods/
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/ephemeral/
app/ios/.symlinks/
app/macos/Pods/
app/.idea/

# macOS
.DS_Store
